body {
	margin: 0;
	overflow-x: hidden;
}

.hide{
	display: none;
}

.broadcast-chat {
	$bc:&;
	font-family: "Open Sans";

	&__video-fadeIn{
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		display: block !important;
	}

	&__video-fadeOut{
		animation-name: fadeOut;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		display: none !important;
	}

	&__mobile{
		display: none !important;
		@include breakpoint(xs){
			display: block !important;
		}
	}

	&__desktop{
		display: block !important;
		@include breakpoint(xs){
			display: none !important;
		}
	}
	
  &__container {
		padding: 0 16px;
		width: 800px;
		margin: 0 auto;
		box-sizing: border-box;
    @include breakpoint(smd) {
			width: 100%;
    }
  }

  &__underline {
    position: relative;
		display: block;
		width: 48px;
		height: 6px;
		background-color: $green;
		border-radius: 4px;
		margin: 16px auto 0;
		&--left{
			margin: initial;
			@include breakpoint(smd){
				margin: 0 auto;
			}
		}
		&--rotate{
			transform: rotate(180deg);
		}
    &::after {
      content: "";
			display: block;
			width: 6px;
      height: 100%;
			position: absolute;
			left: 54px;
      background-color: $green;
      border-radius: 4px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.3px;
		color: $blackPrimary;
		font-family: "Nunito Sans";
		margin: 0;
		@include breakpoint(xs){
			font-size: 20px;
		}
	}

	&__desc{
		color: $blackSecondary;
		margin: 0;
		line-height: 1.43;
		font-size: 14px;
	}
	
	/* Main Content */

  &__main {
		height: 573px;
		position: relative;
    background-image: linear-gradient(296deg,rgba(0, 238, 190, 0.7),#bffedf 69%,rgba(0, 207, 208, 0.5));
		@include breakpoint(smd){
			height: 640px;
		}
		@include breakpoint(xs){
			height: 530px;
			background-image: linear-gradient(332deg, rgba(0, 238, 190, 0.7), #bffedf 69%, rgba(0, 207, 208, 0.5));
		}
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 262px;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        #ffffff
			);
			// @include breakpoint(xs){
			@include breakpoint(smd){
				height: 90%;
				bottom: -1px;
			}
    }
    &-img {
      min-width: 625px;
      max-width: 625px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 104px;
			z-index: 1;
			@include breakpoint(smd){
				display: none;
				min-width: 355px;
				max-width: 355px;
				margin: 0 auto;
				bottom: 0;
				top: 40px;
			}
			@include breakpoint(xs){
				min-width: 255px;
				max-width: 255px;
				margin: 0 auto;
				bottom: 0;
				top: 40px;
			}
			&--mbl{
				display: none;
				@include breakpoint(smd){
					display: block;
				}
			}
    }
    &-text {
      position: relative;
			top: 140px;
			z-index: 2;
			@include breakpoint(smd){
				text-align: center;
				max-width: 420px;
				margin: 0 auto;
				top: 320px;
			}
			@include breakpoint(xs){
				top: 238px;
				max-width: 247px;	
			}
			.main-text{
				&__title{
					margin: 0 0 8px;
					font-size: 38px;
					letter-spacing: -0.5px;
					color: $blackPrimary;
					font-family: "Nunito Sans";
					@include breakpoint(xs){
						font-size: 34px;
					}
				}
				&__subtitle{
					max-width: 342px;
					margin: 32px 0 56px;
					@include breakpoint(smd){
						max-width: 100%;
						margin: 24px auto;
					}
				}
				&__btn{
					display: flex;
					align-items: center;
					@include breakpoint(smd){
						justify-content: center;
					}
					@include breakpoint(xs){
						flex-direction: column;
					}
					a{
						display: inline-block;
						&:first-child{
							margin-right: 16.7px;
							@include breakpoint(xs){
								margin: 0 0 8px;
							}
							button{
								width: 194px;
							}
						}
						&:last-child{
							button{
								width: 177px;
							}
						}
						button{
							@include breakpoint(xs){
								width: 288px !important;
							}
						}
					}
				}
			}
		}
		.main-illus{
			position: absolute;
			display: block;
			z-index: 1;
			&--1{
				max-width: 74px;
				right: 620px;
				@include breakpoint(smd){
					right: 340px;
					top: 140px;
				}
				@include breakpoint(xs){
					right: 0;
					left: 12px;
					top: 105px;
					max-width: 58px;
				}
			}
			&--2{
				max-width: 49px;
				right: 710px;
				top: 155px;
				@include breakpoint(smd){
					top: 72px;
					right: 450px;
				}
				@include breakpoint(xs){
					right: 0;
					left: -20px;
					top: 35px;
				}
			}
			&--3{
				max-width: 60px;
				left: 157px;
				top: 312px;
				@include breakpoint(smd){
					top: 185px;
					left: 135px;			
				}
				@include breakpoint(xs){
					display: none
				}
			}
			&--4{
				max-width: 138px;
				left: 0;
				top: 130px;
				@include breakpoint(smd){
					max-width: 86px;
					top: 60px;
				}
				@include breakpoint(xs){
					display: none;
				}
			}
		}
	}
	
	/* Explanation Content */

  &__explanation {
    position: relative;
    text-align: center;
    padding-bottom: 72px;
    &-desc{
			margin-top: 24px;
			line-height: 1.71;
		}
    &-illus {
      position: absolute;
      top: 227px;
      left: 0;
      max-width: 424px;
			z-index: -1;
			@include breakpoint(xs){
				max-width: 170px;
				top: 62px;
			}
    }
    &-fitur {
			margin-bottom: 32px;
			@include breakpoint(xs){
				margin-bottom: 40px;
			}
      .explanation-fitur {
        &__img {
          height: 185px;
          display: flex;
          align-items: flex-end;
					margin-bottom: 16px;
					@include breakpoint(xs){
						height: auto;
						margin-top: 40px;
					}
          img {
            display: block;
            max-width: 141px;
            margin: 0 auto;
          }
				}
				&__title{
					margin: 0;
					line-height: 1.33;
					font-size: 18px;
					font-family: "Nunito Sans";
					color: $blackPrimary;
				}
      }
    }
    &-video {
			position: relative;
			video{
				width: 100%;
				height: 100%;
			}
      .explanation-video {
				&__icon{
					position: absolute;
          top: 65.5px;
					left: 0;
					z-index: 1;
				}
        &__topads {
          width: 145px;
					animation-name: wiggle !important;
					animation-duration: 5s;
					animation-iteration-count: infinite;
					animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
					@include breakpoint(xs){
						display: none;
					}
        }
        &__content {
					width: 560px;
					height: 454px;
          margin: 0 auto;
					display: block;
					@include breakpoint(xs){
						width: 100%;
						height: auto;
					}
        }
      }
    }
  }

  &__advantage {
		text-align: center;
		position: relative;
		padding-bottom: 72px;
		@include breakpoint(smd){
			overflow-x: hidden;
		}
    &-illus {
			position: absolute;
      right: -250px;
      z-index: -1;
      top: -50px;
			img{
				animation-name: spinner;
				animation-duration: 70s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				@include breakpoint(smd){
					max-width: 305px;
					right: -230px;
				}
				@include breakpoint(xs){
					max-width: 208px;
					right: -230px;
				}
			}
    }
    &-list {
      margin-top: 65px;
      text-align: left;
			color: $blackSecondary;
			@include breakpoint(xs){
				text-align: center;
			}
      .advantage-list {
				&__title{
					font-size: 18px;
					font-family: "Nunito Sans";
					line-height: 1.33;
					color: $blackPrimary;
					text-transform: capitalize;
					margin: 0 0 16px;
				}
				&__desc{
					line-height: 1.43;
					font-size: 14px;
					margin: 0;
					color: $blackSecondary;
				}
        &__img {
          display: flex;
          justify-content: flex-end;
					align-items: flex-start;
					@include breakpoint(xs){
						justify-content: center;
					}
          img {
            max-width: 270px;
						display: block;
						@include breakpoint(xs){
							max-width: 220px;
							margin-bottom: 24px;
						}
          }
        }
      }
      .row {
        align-items: center;
        &:nth-child(2) {
					margin: 64px 0;
					@include breakpoint(xs){
						margin: 40px 0;
					}
          .advantage-list {
            &__img {
							justify-content: flex-start;
							@include breakpoint(xs){
								justify-content: center;
							}
							img{
								max-width: 340px;
								@include breakpoint(xs){
									max-width: 260px;
								}
							}
            }
          }
        }
      }
    }
  }

  &__step {
		text-align: center;
		position: relative;
		padding-bottom: 72px;
		@include breakpoint(xs){
			padding-bottom: 48px;
		}
		&-illus{
			position: absolute;
			right: 0;
			z-index: -1;
			@include breakpoint(xs){
				max-width: 169px;
				top: 412px;
			}
			&-circle{
				border-radius: 50%;
				position: absolute;
				top: -60px;
				left: -230px;
				width: 450px;
				height: 450px;
				@include backgroundImg;
				background-size: 520px;
				background-image: url(../../assets/img/illus-circle.png);
				@include breakpoint(smd){
					width: 250px;
					height: 250px;
					background-size: 300px;
					left: -175px;
				}
				@include breakpoint(xs){
					width: 150px;
					height: 150px;
					background-size: 200px;
					left: -110px;
					top: 90px;
				}
			}
		}
    &-content {
      margin-top: 61px;
      .step-content {
        &__img {
          height: 137px;
          display: flex;
          align-items: flex-end;
          img {
            display: block;
            margin: 0 auto;
          }
          &-1 {
						max-width: 181px;
						position: relative;
						left: -8px;
          }
          &-2 {
            max-width: 205px;
          }
          &-3 {
            max-width: 191px;
          }
				}
				&__text{
					margin-top: 40px;
					@include breakpoint(xs){
						margin-top: 16px;
					}
					&-num{
						font-size: 14px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 auto;
						color: rgba(49, 53, 59, 0.96);
						font-weight: bold;
						position: relative;
						width: 31px;
						height: 31px;
						@include backgroundImg;
						background-image: url(../../assets/img/step-circle.png);
					}
					&-title{
						color: $blackPrimary;
						line-height: 1.33;
						margin: 8px 0 0;
						font-size: 18px;
						font-family: "Nunito Sans"
					}
				}
				&__line{
					position: relative;
					&::before,
					&::after{
						content: "";
						display: block;
						width: 220px;
						height: 4px;
						background-color: $grayBorder;
						position: absolute;
						bottom: 45px;
						@include breakpoint(xs){
							content: initial;
						}
					}
					&::before{
						left: -110px;
					}
					&::after{
						right: -110px;
					}
				}
      }
    }
  }

  &__try {
		padding: 40px 0;
		box-sizing: border-box;
		text-align: center;
		height: 240px;
		@include backgroundImg;
		background-image: url("../../assets/img/try-broadcast.png");
		display: flex;
		align-items: center;
		justify-content: center;
		@include breakpoint(smd){
			padding: 24px 0;
			height: 218px;
			background-image: url("../../assets/img/try-broadcast-mobile.png");
		}
		&-content{
			.try-content{
				&__title{
					font-size: 34px;
					line-height: 1.18;
					letter-spacing: -0.4px;
					@include breakpoint(xs){
						font-size: 20px;
						// max-width: 170px;
						margin: 0 auto;
					}
				}
			}
			button{
				width: 238px;
				margin-top: 32px;
				@include breakpoint(xs){
					width: 288px;
					margin-top: 24px;
				}
			}
		}
		img{
			max-width: 100%;
			display: block;
		}
	}
	
	&__faq{
		padding: 48px 0 80px;
		position: relative;
		@include breakpoint(xs){
			padding: 24px 0 48px;
		}
		#{$bc}{
			&__container{
				position: relative;
			}
		}
		&-illus{
			max-width: 179px;
			z-index: -1;
			position: absolute;
			right: -100px;
			bottom: -58px;
			animation-name: spinner;
			animation-duration: 70s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			@include breakpoint(smd){
				display: none;
			}
		}
		&-accordion{
			margin-left: auto;
			margin-right: auto;
			padding: 40px 80px 26px 80px;
			box-sizing: border-box;
			width: 800px;
			background-color: $whitePrimary;
			border-radius: 8px;
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
			@include breakpoint(smd){
				width: 100%;
			}
			@include breakpoint(xs){
				padding: 24px 24px 8px 24px;
			}
			.accordion{
				margin: 0;
				&-item{
					&__head{
						h3{
							color: $blackPrimary;
							margin: 0;
							@include breakpoint(xs){
								width: 85%;
							}
						}
					}
					&__body{
						border: none;
						padding-top: 2px;
						font-size: 14px;
						color: $blackSecondary;
						line-height: 1.43;
						@include breakpoint(xs){
							font-size: 12px;
						}
						&::before{
							content: initial;
						}
						p{
							margin: 0;
						}
						.numbering{
							padding-left: 15px;
							margin: 8px 0 0;
							li{
								list-style: decimal;
								padding-left: 10px;
							}
						}
					}
				}
			}
		}
		&-header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 40px;
			@include breakpoint(xs){
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 24px;
			}
		}
		&-title{
			font-size: 20px;
			font-family: "Nunito Sans";
			line-height: 1.3;
			letter-spacing: -0.1px;
			color: $blackPrimary;
			margin: 0;
			@include breakpoint(xs){
				font-size: 18px;
				margin-bottom: 16px;
			}
		}
	}

	.unf-dialog{
		&--confirmation{
			width: 400px;
			padding: 48px 48px 24px;
			@include breakpoint(xs){
				width: 288px;
				padding: 32px 16px 16px;
			}
		}
	}
}